.tabela-atendimento {
    align-items: center;
    font-size: 25px;
    text-align: center;
    margin: 50px 0 45px 0;
    cursor: pointer;
}

.tabela-atendimento table {
    width: 500px;
    box-shadow: 10px 5px 5px rgb(122, 118, 118);
}

.tabela-atendimento thead {
    height: 50px;
    background-color: #9b9797;
}

.tabela-atendimento tbody {
    height: 40px;

}

.tabela-atendimento tbody tr:nth-child(odd) {
    background-color: rgb(185, 223, 228);

}

.tabela-atendimento tbody tr:nth-child(even) {
    background-color: rgb(130, 171, 177);

}

.tabela-atendimento tbody tr:hover {
    background-color: rgb(240, 255, 252);
}

.tabela-atendimento tfoot {
    height: 50px;
    background-color: #ec1f1f;
    color: white;
}

.content .obs {
    text-align: center;
    color: red;
}